<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luegopago Assesment</title>
</head>

<body style="padding:0; margin:0; overflow: hidden;">
    <div class="container"
        style="width: 100vw; height: 100vh; background-color: #123; display: flex; justify-content: center; align-items: center; font-family:Verdana, Geneva, Tahoma, sans-serif; color: aliceblue;">
        <h1 style="font-size: 150%;">Usted está en Luegopago API Services</h1>
    </div>
</body>

</html>